/* App.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: url('./Assets/home.jpg');
  background-color: rgba(255, 255, 255, 0.5) ;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.container {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
}

h1 {
  text-align: center;
}

input {
  width: 60%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  margin-bottom: 20px;
  border: 2px solid #514f4f;
  border-radius: 15px;
}

.input1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.results, .bookshelf {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-card {
  border: 1px solid #020202;
  border-radius: 20px;
  margin: 15px;
  padding: 10px;
  width: 200px;
  height: 220px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

button {
  margin-top: 10px;
  padding: 7px 12px;
  background-color: #5c43e4;
  color: white;
  border: none;
  border-radius: 7px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

a {
  text-decoration: none;
  color: #007bff;
  margin-top: 20px;
  display: inline-block;
}

a:hover {
  text-decoration: underline;
}

.bookTitle{
  height: 100px;
  display: flex;
  flex-direction: column;
}

.bookbtn{
  padding-bottom: 10px;
}